
.zixun{
    width: 100%;
    height:100%;
    padding: 0 0.3rem 8rem 0.3rem;
    box-sizing: border-box;




//头
    header{
        width: 100%;
        height: 3rem;
        border: 0 0 1rem 0;
        background:#000000a3;
        position: fixed;
        top: 0;
        left:0;
    }
    //内容
    .cont{
        widows: 100%;
        height: 100%;
        margin: 3rem 0 0 0;
        padding-bottom: 1rem;
        background:#f1f5ea;
        overflow-x: hidden;

        

    }
    //表单
    .from{
        width: 100%;
        display: flex;
        position: fixed;
        left:0rem;
        bottom: 3.5rem;
        background: pink;
        div>img{
            width: 2rem;
        }
        textarea{
            flex-grow: 1;
            padding: 0.5rem  0.3rem 0 0.3rem;
            background:#edefef;

        }
        .but{
            color: rgb(255, 255, 255);
            width: 5rem;
            background: sandybrown;
        }

    }

}