<div id="hom">
  <header>
    <img src="../../common/img/header.png" />
    <div id="header_div">
      <div class="didian" @click="showPopup">
        <div>{{downtown}}</div>
        <span>{{district}}</span>
      </div>
      <!-- 上弹菜单 -->
      <van-popup v-model="show" position="top" :style="{ height: 'auto' }">
        <!-- 选择城市 -->
        <van-area :area-list="areaList" :columns-num="3" :visible-item-count="3" @confirm="confirm" @cancel="cancel">
        </van-area>
      </van-popup>
      <div class="inp">
        <input type="text" />
        <span class="iconfont icon-search"></span>
      </div>
      <div class="linsheng">
        <span class="iconfont icon-ling"></span>
      </div>
    </div>
  </header>
  <content>
    <div class="cont">
      <ul class="cont_ul">
        <li class="one">
          <ul>
            <router-link to="#" tag='li' 
            v-for="item in daikuan" 
            :key="item.index">
              <img :src="item.src" />
              <span>{{item.text}}</span>
            </router-link>
          </ul>
        </li>
        <li class="tow">
          <ul>
            <li class="tow_li" v-for="item in to" :key="item.index">
              <div>{{item.jia}}</div>
              <div>{{item.fangshi}}</div>
            </li>
          </ul>
        </li>
        <li class="three">
          <ul>
            <li v-for="item in three" :key="item.index">
              <img :src="item.img" />
              <div>{{item.text}}</div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="cont_tujian">
        <div class="tujian_a">
          <div class="youche">优车推荐</div>
          <div class="tujian_img">
            <img src="../../common/img/车友圈视频1.png" />
            <img src="../../common/img/车友圈视频2.png" />
          </div>
          <div class="tujian_but">
            <button class="iconfont icon-car">
              <p>全部车型</p>
            </button>
            <button class="iconfont icon-xiaoxi">
              <p>在线咨询</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </content>
  <div class="fot">
    <img src="../../common/img/footer.png" alt />
  </div>
</div>